<%- include('./partials/head'); %>

    <div id="chat">
      <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
      </div>

      <input id="handle" type="text" placeholder="handle" />
      <input id="message" type="text" placeholder="Message" />
      <button id="sendBtn">Send</button>
    </div>

<%- include('./partials/footer'); %>

