<%- include('./partials/head'); %>

<main id="shopping-list-main">
  <h1>Shopping List</h1>

  <section class="shopping-list-container">
    <ul id="productList"></ul>
    <form id="sendForm">
      <input id="addItemInput" type="text" placeholder="add +" />
      <button id="submitBtn" type="submit">+</button>
    </form>
  </section>
</main>

<%- include('./partials/footer'); %>
