h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-bottom: 4.2rem;
}

#chat-window {
  overflow: auto;
  flex: 1;
}

#output {
  padding: 0.8rem;
}

#output p {
  color: #fff;
  /* background: linear-gradient(
    197deg,
    rgba(255, 230, 0, 1) 0%,
    rgba(255, 77, 0, 1) 100%
  ); */
  background: #fd5631;
  padding: 0.8rem 2.3rem;
  width: fit-content;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

#chat form {
  display: flex;
}

#chat form input {
  flex: 4;
}

#chat form button {
  flex: 2;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  font-weight: 600;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0;
  display: block;
  width: 100%;
  background: #3a3a3c;
  color: #fcfcfc;
  font-size: 16px;
}

#error-msg {
  color: red;
  padding: 0.3rem 1rem;
}

button {
  background: #fd5631;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

.message-container {
  display: flex;
  justify-content: space-between;
}

.message-container button {
  background: none;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 0.8rem;
  width: unset;
}
